<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<style>
    #cores {
        list-style: none;
    }
</style>

<div id="app">
    <h6>{{ cores }}</h6>
    <ul id="cores">
        <li v-for="cor, index in cores" :key="cor">{{ index + 1 }}) {{ cor[0].toUpperCase() + cor.slice(1).toLowerCase() }}</li>
    </ul>
    <button @click="cores.push('roxo')">Adicionar</button>
    <hr>
    <template v-for="cor, i in cores" :key="cor">
        <h1>{{ cor }}</h1>
        <p>{{ i }}</p>
    </template>

    <ul>
        <li v-for="pessoa in pessoas">
            <template v-for="(valor, chave, index) in pessoa">
                {{ chave }}: {{ valor }} ({{ index + 1 }})
            </template>

        </li>
    </ul>
</div>

<script>

new Vue({
    el: '#app',
    data: {
        cores: ['vermelho', 'VERDE', 'azul', 'amarelo', 'cinza', 'preto'],
        pessoas: [
            { nome: 'Antônio', idade: 23, peso: 110 },
            { nome: 'Vitória', idade: 19, peso: 47 },
            { nome: 'Filipe', idade: 9, peso: 25 }
        ]
    }
})
</script>