* {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

  @font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: url('../font/PressStart2P.ttf');
  }

body {
    background: repeating-linear-gradient(
        to right,
        #222,
        #222 10px,
        #333 10px,
        #333 20px
    );
    padding: 2% 10% 0% 10%;
    font-family:  'Press Start 2P', cursive, Courier, monospace;
}

#app {
    background-color: black;
    -webkit-box-shadow: 0px 14px 22px 13px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 14px 22px 13px rgba(0,0,0,0.66);
    box-shadow: 0px 14px 22px 13px rgba(0,0,0,0.66);
}

#vida {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pontos-vida {
    height: 100%;
}

#vida-jogador {
    height: 30%;
}

#vida-monstro {
    height: 30%;
}

.grid-item {
    background-color: #F0F0F0;
    border: 1px solid #000;
    padding: 20px;
    font-size: 14px;
    text-align: center;
}